html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url(../images/marvel7.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
}

.container {
    color: azure;
    text-align: center;
    margin-top: 50px;
}
    
h1 {
    font-size: 60px;
    font-family: 'Righteous', cursive;
    color: red;
    text-shadow: 10px 10px 10px rgb(243, 237, 237);
}

h2 {
    font-size: 40px;
    font-family: 'Righteous', cursive;
    margin: 40px;
}

h4 {
    font-size: 20px;
    font-family: 'Special Elite', cursive;
    margin: 20px;
}

p {    
    font-size: 20px;
    font-family: 'Righteous', cursive;
    margin-top: 50px;
}

#currentWord {
    font-size: 30px;    
    letter-spacing: 1px;
    font-family: 'ABeeZee', sans-serif;
    color: coral;
    font-weight: bold;    
}

#remainingGuesses {
    font-size: 25px;
    font-weight: bold;
    color: cyan;
    font-family: 'ABeeZee', sans-serif;
}

#guessedLetters {
    font-size: 25px;
    font-weight: bold;
    color: red;
    font-family: 'ABeeZee', sans-serif;
}

#totalWins {
    font-size: 25px;
    font-weight: bold;
    color: chartreuse;
    font-family: 'ABeeZee', sans-serif;
}